[submodule "m2/mon4visualmedia/TransWeatherForVisualMediaLecture"]
	path = m2/mon4visualmedia/TransWeatherForVisualMediaLecture
	url = https://github.com/LunaSugiyama/TransWeatherForVisualMediaLecture.git
[submodule "m2/mon4visualmedia/new-Transweather-for-lecture"]
	path = m2/mon4visualmedia/new-Transweather-for-lecture
	url = https://github.com/LunaSugiyama/new-Transweather-for-lecture.git
